@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    min-width: 0;
    min-height: 0;
}
body{
    --tw-bg-opacity: 1;
    background-color: rgb(255 248 230 / var(--tw-bg-opacity));
    justify-content: center;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    list-style: none;
}

::-webkit-scrollbar { 
    width: 15px; 
    border: 2px solid blue; 
} 
/*tells the browser how the arrows will appear*/ 
  

::-webkit-scrollbar-thumb { 
    background: black; 
}
::-webkit-scrollbar-track { 
    --tw-bg-opacity: 1;
    background-color: rgb(251 113 133 / var(--tw-bg-opacity));
} 

  
::-webkit-resizer { 
    background: pink; 
} 